body {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.buttons-container {
  position: static; /* Remove a posição absoluta */
  display: flex;
  flex-wrap: wrap; /* Permite que os botões se movam para a linha seguinte se necessário */
  justify-content: center;
  gap: 10px; /* Reduzido o espaço entre os botões */
  margin-top: 20px; /* Adiciona um espaço acima dos botões */
  margin-bottom: 20px; /* Adiciona um espaço abaixo dos botões */
}

.buttons-container button {
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container button img {
  width: 24px;
  height: auto;
}

.buttons-container button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .buttons-container {
    flex-direction: column; /* Empilha os botões verticalmente em telas menores */
    gap: 10px; /* Reduz o espaço entre os botões */
  }

  .buttons-container button {
    font-size: 16px; /* Menor tamanho da fonte para telas pequenas */
    padding: 8px;
  }

  .buttons-container button img {
    width: 20px; /* Ajusta o tamanho da imagem dos botões */
  }
}
